{{ define "about" }}
<div class="row content content-about hidden opaque">
    <div class="col">
    </div>
    <div class="col-12 about">
        <p>
            <br />
            <em id="#aboutcenter">

            </em>
        </p>
    </div>
    <div class="col">
    </div>

    <div class="col">
    </div>
    <div class="col-12 about text-center">
        <p>
            CRYOSPHERE <br />
            A cute death-and-destruction band that wants to tell grandiose stories of being a
            modern
            human being.
        </p>
        <img class="img-fluid" src="/static/images/group_photo.png" alt="Italian Trulli">
        <p style="font-size:12px"><em>Emil, Christopher, Glen, Sirene, Asger, Anders</em></p>

    </div>
    <div class="col">
    </div>


    <div class="col">
    </div>
    <div class="col-12 about">
        <p>
            <br /><br />
            The narratives range widely from man's immediacy, strengths and weaknesses and as a listener you will be
            pulled down into the depths by the siren, where there is time for thought and self-reflection, down to the
            place where the distorted sounds can kick through the defense and reach all the way into the heart of the
            listener.
            <br /><br /><br />

            CRYOSPHERE is a fresh new breath on the Danish metal scene, which both has a male and female vocals in
            front.
            They are a melodic metalcore band based in Roskilde, Denmark and have in their short time on the metal scene
            been successful both in Denmark and abroad with their unique sound, which can be described as a mixture of
            metalcore, post-hardcore, alternative metal and nu-metal.
            <br /><br /><br />
            They draw inspiration from many genres and influences, including progressive music, classical, pop and metal
            in all its different shapes and colors.
            <br /><br /><br />
            CRYOSPHERE was formed by Sirene (vocals) in 2016 and in 2018 finally achieved full lineup consisting
            of: Anders Elleskov (vocals), Asger Markussen (bass guitar), Emil Tronborg (guitar), Glen Petersen-Jessen
            (rhythm guitar), Christopher Baklid (drums) and of course Sirene (vocals).
            <br /><br /><br />
            Later in 2018 the single "WOLVES & KINGS" and a cover of Paramore's "Let The Flames Begin" were released
            followed by "Reflections" in 2019.
            <br /><br /><br />
        </p>

    </div>
    <div class="col">
    </div>
</div>
{{ end }}
