{{ define "footer" }}
{{ template "twitter" }}
<footer>

</footer>

<script src="/static/js/jquery3.js"></script>
<script src="/static/js/popper.js"></script>
<script src="/static/js/bootstrap4.js"></script>
<script src="/static/js/cryo.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143687851-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-143687851-1');
</script>

</body>

</html>
{{ end }}
