{{ define "header" }}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="google-site-verification" content="oJa5bN3WbOL89N7-tEytf0Y72bD_4Hfov_gRO2ZDEYI" />

    <title> Cryosphere </title>

    <link rel="icon" href="static/images/favicon.ico" type="image/png" sizes="128x128">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Raleway" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="static/css/bootstrap4.css">
    <link href="static/css/cryosphere.css" rel="stylesheet" type="text/css">
</head>

<body>
    {{ end }}
