{{ define "index" }}


{{ template "header" }}


<video playsinline autoplay muted loop id="bgvid">
    <source src="/static/video/cryo.webm" type="video/webm" />
    not supported
</video>


{{ template "socialmedia" }}

<div class="container text-center">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-10">
            <img class="img-fluid" src="static/images/cryosphere.png"></img>
        </div>
        <div class=" col">
        </div>
    </div>

    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            <p><em>"Best Band Ever"</em> - Sirene</p>

        </div>
        <div class="col">
        </div>
    </div>
</div>

{{ template "footer" }}
{{ end }}
