{{ define "index" }}

{{ template "header" }}

<video playsinline autoplay muted loop id="bgvid">
    <source src="/static/video/cryo.webm" type="video/webm" />
    not supported
</video>

{{ template "navigation" }}

<div class="container text-center opaque">
    <div class="row content-home">
        <div class="col">
        </div>
        <div class="col-12">
            <img class="img-fluid" src="static/images/cryosphere.png"></img>
        </div>
        <div class=" col">
        </div>
    </div>

    <div class="row content-shows hidden">
        <div class="col">
        </div>
        <div class="col-12">
            <p>SHOWS</p>
        </div>
        <div class=" col">
        </div>
    </div>

    <div class="row content-merch hidden">
        <div class="col">
        </div>
        <div class="col-12">
            <p>MERCH</p>
        </div>
        <div class=" col">
        </div>
    </div>

    <div class="row content-contact hidden">
        <div class="col">
        </div>
        <div class="col-12">
            <p>Send us an email</p> <br /> <p>cryosphereofficialmail@gmail.com</p>
        </div>
        <div class="col">
        </div>
    </div>
</div>

{{ template "footer" }}
{{ end }}
