{{ define "navigation" }}
<nav class="navbar navbar-expand-lg navbar-dark opaque">
    <a class="navbar-brand" href="#"></a>
    {{ template "socialmedia" }}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link home" data-toggle="collapse" data-target="#navbarNav" href="#home">CRYOSPHERE<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link shows" data-toggle="collapse" data-target="#navbarNav" href="#shows">SHOWS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link merch" data-toggle="collapse" data-target="#navbarNav" href="#merch">MERCH</a>
            </li>
            <li class="nav-item">
                <a class="nav-link contact" data-toggle="collapse" data-target="#navbarNav" href="#contact">CONTACT</a>
            </li>
        </ul>
    </div>
</nav>

{{ end }}
