{{ define "shows" }}

<div class="row content content-shows hidden opaque">

  <div class="col">
  </div>

  <div class="col-12">
    <div class="row">
      <div class="col-4">
        <h3>SHOW DATES</h3>
      </div>
      <div class="col-4"></div>
      <div class="col-4 text-right">
        <!-- songkick never gave us an API key
        <a href=" https://songkick.com/" target="_blank">
          <img class="songkicklogo" src="/static/images/powered-by-songkick-white.svg" /> </a>
        -->
      </div>
    </div>

    <table class="table table-hover table-borderless text-center">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">City</th>
          <th scope="col">Venue</th>
        </tr>
      </thead>
      <tbody id="shows-table">
      </tbody>
    </table>
  </div>

  <div class=" col">
  </div>
</div>

{{ end }}
