{{define "socialmedia"}}

<div class="row text-center iconbar">
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
        <a href="https://twitter.com/cryosphereband" target="_blank">
            <img src="/static/images/icons/twitter.svg" style="height:50px;width:50px;" class="icons" /> </a>
    </div>

    <div class="col">
        <a href="https://cryosphere.bandcamp.com/" target="_blank">
            <img src="/static/images/icons/bandcamp.svg" style="height:50px;width:50px;" class="icons" /> </a>
    </div>

    <div class="col">
        <a href="https://www.facebook.com/cryosphereband/" target="_blank">
            <img src="/static/images/icons/facebook.svg" style="height:50px;width:50px;" class="icons" /> </a>
    </div>

    <div class="col">
        <a href="https://instagram.com/cryosphereband" target="_blank">
            <img src="/static/images/icons/instagram.svg" style="height:50px;width:50px;" class="icons" /> </a>
    </div>

    <div class="col">
        <a href="https://open.spotify.com/artist/0g3wVqpBfJAjiYSDFx03jE" target="_blank">
            <img src="/static/images/icons/spotify.svg" style="height:50px;width:50px;" class="icons" /> </a>
    </div>

    <div class="col">
        <a href="https://www.youtube.com/channel/UCOwnbdRqpukvpcQqmrc6cIQ" target="_blank">
            <img src="/static/images/icons/youtube.svg" style="height:50px;width:50px;" class="icons" /> </a>
    </div>

    <div class="col">
        <a href="https://listen.tidal.com/artist/9314687" target="_blank">
            <img src="/static/images/icons/tidal.svg" style="height:50px;width:50px;" class="icons" /> </a>
    </div>

    <div class="col">
        <a href="https://www.amazon.com/s?k=Cryosphere&i=digital-music&search-type=ss&ref=ntt_srch_drd_B077SJR3RX"
            target="_blank">
            <img src="/static/images/icons/amazon.svg" style="height:50px;width:50px;" class="icons" /> </a>
    </div>

    <div class="col">
    </div>
    <div class="col">
    </div>
</div>
{{end}}
