{{define "socialmedia"}}

<div class="row text-center iconbar rounded opaque">
    <div class="col" data-toggle="tooltip" title="Twitter">
        <a href="https://twitter.com/cryosphereband" target="_blank">
            <img src="/static/images/icons/twitter.svg" class="icons" /> </a>
    </div>

    <div class="col" data-toggle="tooltip" title="Bandcamp">
        <a href="https://cryosphere.bandcamp.com/" target="_blank">
            <img src="/static/images/icons/bandcamp.svg" class="icons" /> </a>
    </div>

    <div class="col" data-toggle="tooltip" title="Facebook">
        <a href="https://www.facebook.com/cryosphereband/" target="_blank">
            <img src="/static/images/icons/facebook.svg" class="icons" /> </a>
    </div>

    <div class="col" data-toggle="tooltip" title="Instagram">
        <a href="https://instagram.com/cryosphereband" target="_blank">
            <img src="/static/images/icons/instagram.svg" class="icons" /> </a>
    </div>

    <div class="col" data-toggle="tooltip" title="Spotify">
        <a href="https://open.spotify.com/artist/0g3wVqpBfJAjiYSDFx03jE" target="_blank">
            <img src="/static/images/icons/spotify.svg" class="icons" /> </a>
    </div>

    <div class="col" data-toggle="tooltip" title="Discord">
        <a href="https://discord.gg/ejtXgkj" target="_blank">
            <img src="/static/images/icons/discord.svg" class="icons" /> </a>
    </div>

    <div class="col" data-toggle="tooltip" title="Youtube">
        <a href="https://www.youtube.com/channel/UCOwnbdRqpukvpcQqmrc6cIQ" target="_blank">
            <img src="/static/images/icons/youtube.svg" class="icons" /> </a>
    </div>

    <div class="col" data-toggle="tooltip" title="Tidal">
        <a href="https://listen.tidal.com/artist/9314687" target="_blank">
            <img src="/static/images/icons/tidal.svg" class="icons" /> </a>
    </div>

    <div class="col" data-toggle="tooltip" title="Amazon">
        <a href="https://www.amazon.com/s?k=Cryosphere&i=digital-music&search-type=ss&ref=ntt_srch_drd_B077SJR3RX"
            target="_blank">
            <img src="/static/images/icons/amazon.svg" class="icons" id="socialmediaimages" /> </a>
    </div>
</div>
{{end}}
