{{define "socialmedia"}}

<div class="row text-center">
    <div class="col" style="background-color:white;">
        <a href="https://twitter.com/cryosphereband" target="_blank">
            <img src="/static/images/Twitter.png" style="height:100px;width:100px;" /> </a>
    </div>
    <div class="col" style="background-color:white;">
        <a href="https://cryosphere.bandcamp.com/" target="_blank">
            <img src="/static/images/bandcamp.png" style="height:100px;width:100px;" /> </a>
    </div>
    <div class="col" style="background-color:white;">
        <a href="https://www.facebook.com/cryosphereband/" target="_blank">
            <img src="/static/images/facebook.png" style="height:100px;width:100px;" /> </a>
    </div>
    <div class="col " style="background-color:white;">
        <a href="https://instagram.com/cryosphereband" target="_blank">
            <img src="/static/images/instagram.png" style="height:100px;width:100px;" /> </a>
    </div>
</div>

{{end}}
