{{ define "twitter" }}
<div class="row content text-center">
    <div class="col">
    </div>
    <div class="col-12 twitter">

        <a class="twitter-timeline" data-lang="en" data-width="480" data-height="750" data-theme="dark"
            href="https://twitter.com/CRYOSPHEREBAND?ref_src=twsrc%5Etfw">
            Tweets by CRYOSPHEREBAND</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    </div>
    <div class=" col">
    </div>
</div>
{{ end }}
