html {
    height:100%;
}

body {
    color: #dee4ef;
    background-color: #354054;
    font-family: 'Raleway', sans-serif;
    position: relative;
    display: block;
    min-height:100%;
    padding:0;
    margin:0;
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

h1 {
    padding: 60px 0px 0px 0px;
}

h3 {
    display: inline;
}

p {
    font-size: 22px;
    font-family: 'Nanum Gothic', sans-serif;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.col {
    flex-grow: unset;
}

.centerContainer{
    position: absolute;
    width: 100px; /*the image width*/
    height: 100px; /*the image height*/
    left: 50%;
    top: 50%;
    margin-left: -512px; /*half the image width*/
    margin-top: -205px; /*half the image height*/
}

.icons { /*icons from https://simpleicons.org/ */
    height: 25px;
    width: 25px;
    filter: invert(100%) sepia(1%) saturate(2834%) hue-rotate(193deg) brightness(112%) contrast(100%); /* convert hex to filter color https://codepen.io/sosuke/pen/Pjoqqp */
}

.icons:hover{
    filter: invert(44%) sepia(97%) saturate(2458%) hue-rotate(165deg) brightness(98%) contrast(101%); /* Blue hover over */
}

.iconbar {
    z-index: 1000;
    position: relative;
    width: 100%;
    padding: 10px 0px 10px 0px;
    left: 0;
    right: 0;
    display: flex;
    box-flex: inherit;
    flex-wrap: unset;
}

.row {
    margin: 0px;
}

.opaque {
    background: rgba(25, 25, 25, .5);
}

.opaque-dark {
    background: rgba(25, 25, 25, .9);
}

a.nav-link {
    color: white;
}
.nav-link {
    color: white;
}

.tab-content {
    padding-top: 15px;
    min-height: 150px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.content {
    min-height: 200px;
}

.hidden {
    display: none;
}

.songkicklogo {
    max-height:40px;
    filter: invert(40%) sepia(0%) saturate(2006%) hue-rotate(147deg) brightness(83%) contrast(90%);
}

.table thead th{
    border: none !important;
}

.table td, .table th {
    border: none !important;
}

.card {
    border: unset;
}

@media (max-width: 576px) {
    .container {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .col-12 {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .text-center {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .icons { /*icons from https://simpleicons.org/ */
        height: 60px;
        width: 20px;
        filter: invert(100%) sepia(1%) saturate(2834%) hue-rotate(193deg) brightness(112%) contrast(100%); /* convert hex to filter color https://codepen.io/sosuke/pen/Pjoqqp */
    }
    .row {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }
}
