{{ define "navigation" }}

<div class="container">
    <h2>Blog Posts</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            {{ range .}}
            <tr>
                <td>{{ .Date }}</td>
                <td><a href="/blog/post#{{ .Date }}_{{ .Title }}"
                        onclick="render_blog_post('{{ .FullPath }}')">{{ .Title }}</a></td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>

{{ end }}
